testCase,httpStatusCode{{#operation}}{{#hasParams}},{{/hasParams}}{{#inParams}}{{key}}{{#hasMore}},{{/hasMore}}{{/inParams}}{{/operation}}
Success,200{{#operation}}{{#hasParams}},{{/hasParams}}{{#inParams}}{{value}}{{#hasMore}},{{/hasMore}}{{/inParams}}{{/operation}}